{% extends "base.html" %}

{% block title_head %}
<title>Camaras </title>
{% endblock title_head %}

{% block h1_header %}
Camaras Stock 
{% endblock h1_header %}

{% block main %}
<form action="">
    <input type="text" name="marca" placeholder="Sony, Canon, Nikon, Pentax, ...">
    <input type="submit" value="Buscar">
</form>


{% if Listado_de_Camaras %}
{% comment %} <ul> 
    {% for camaras in Listado_de_Camaras %}
    <li>{{camaras}} | </li> 
    {% endfor %} {% endcomment %}
    
    
        {% for camara in Listado_de_Camaras %}
            <li>
                {{ camara.marca }} | {{ camara.modelo }} | {{ camara.descripcion }} | {{ camara.anio }}
                <form method="post" action="{% url 'eliminar_camara' camara.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                </form>
                <form method="post" action="{% url 'actualizar_camara' camara.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Actualizar</button>
                </form>
                <form method="post" action="{% url 'detalle_camara' camara.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm">Detalle</button>
                </form>
            </li> 
        {% endfor %}















{% else %}
<p>No se encontraron Camaras</p>
{% endif %}    
{% endblock main %}

{% block section %}
Descripción: {{camara.descripcion}}
{% endblock section %}