{% extends "base.html" %}

{% block title_head %}
<title>Crear Camaras </title>
{% endblock title_head %}

{% block h1_header %}
Crear Camara 
{% endblock h1_header %}

{% block main %}

<form action="">
    <input type="text" name="modelo">
    <input type="text" name="descripcion">
    <input type="text" name="descripcion">
    <input type="text" name="anio">
    <input type="submit" value="Cargar">
</form>

{% endblock main %}

{% comment %} {% block section %}
Descripción: {{camara.descripcion}}
{% endblock section %} {% endcomment %}