{% extends "base.html" %}

{% block title_head %}
<title>Ver Perfil</title>
{% endblock title_head %}

{% block h1_header %}
Perfil de {{ request.user.username }}
{% endblock h1_header %}

{% block main %}
<p>Nombre: {{ request.user.first_name }}</p>
<p>Apellido: {{ request.user.last_name }}</p>
<p>Email: {{ request.user.email }}</p>
<p>Biografía: {{ datos_extra.biografia }}</p>
<p>Avatar: <img src="{{ datos_extra.avatar.url }}" alt="Avatar"></p>

<a href="{% url 'editar_perfil' %}">Editar Perfil</a>
<a href="{% url 'cambiar_password' %}">Cambiar Contraseña</a>
{% endblock main %}