<!DOCTYPE html>
<html lang="en">
    load {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% block title_head %}
        <title>Gaussian Blur - Video Store</title>
        {% endblock title_head %}
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static "css/styles.css" %} rel="stylesheet" />
    </head>
    
    <body>
        {% block nav %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href={% url "inicio" %}>Video Store</a>
                <a class="navbar-brand" href={% url "about_me" %}>Nosotros</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url "camaras" %}>Camaras</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url "tripodes" %}>Tripodes</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url "microfonos" %}>Microfonos</a></li>
                        {% comment %} <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url "crear_camaras" %}>Cargar Camaras</a></li> {% endcomment %}
                        <li class="nav-item"><a class="nav-link" href= {% url "crear_microfono" %}>Cargar Microfonos</a></li>
                        <li class="nav-item"><a class="nav-link" href= {% url "crear_tripode" %}>Cargar Tripodes</a></li>
                        <li class="nav-item"><a class="nav-link" href= {% url "crear_camaras" %}>Cargar Camaras</a></li>
                        {% comment %} <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li> {% endcomment %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock nav %}
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://user-images.githubusercontent.com/133605578/279868201-2165560e-404e-4dfc-9826-cce183dc0b58.png" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">
                    {% block h1_header %}
                    
                    {% endblock h1_header %}
                </h1>
                <p class="text-white-50 mb-0">Equipamiento de Foto y Video</p>
            </div>
        </header>
        <!-- Content section-->
     
       
        <section class="py-5">
                        
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                      
                        <h2>El lugar ideal para productores creativos</h2> 
                         {% block about_me %}
                            <p class="lead"><p>Equipamiento multimedia para tus producciones y el asesoramiento de nuestros especialistas</p>
                        {% endblock about_me %}
                    </div>
                </div>
            </div>
            
        </section>
      
        <main>
            {% block main %}
            
            {% endblock main %}
        </main>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Pablo Murua Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
